{% extends 'przepisowo/base.html' %}

{% block title %}Lista Przepisów{% endblock %}

{% block content %}
<h2>Lista Przepisów</h2>

<div class="recipe-grid">
    {% for recipe in recipes %}
    <div class="recipe-card">
        <a href="{% url 'recipe_detail' recipe.id %}">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
            <h3>{{ recipe.name }}</h3>
        </a>
        <p>Kategoria: {{ recipe.category }}</p>
        <p>Cena: {{ recipe.price }} zł</p>
        <p>Czas: {{ recipe.preparation_time }} min</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
